.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.titleLink, .titleLink:hover, .titleLink:active {
  color: var(--ifm-color-primary-darkest);
  text-decoration-color: var(--ifm-color-primary-darkest);
}

.bodyLink, .bodyLink:hover, .bodyLink:active {
  color: var(--ifm-font-color-base);
  text-decoration: none;
}